@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

/* shared section  */
.btn{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    transition: 0.5s;
    cursor: pointer;
}
.btn:hover{
    background: white;
    color: rgb(254, 163, 1);
    border: 1px solid rgb(254, 163, 1);
}
.none{
    display: none;
}

/* header section  */
header{
    /* margin: 50px 200px; */
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.logo{
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}
.logo .title{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
}
header nav ul{
    display: flex;
    gap: 35px;
}
header nav ul li{
    list-style: none;
    transition: transform 1s;
}
header nav ul li:hover{
    transform: scale(1.2);
}
header nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
}
.l-1{
    color: orange;
}
.l-2{
    color: skyblue;
}
.l-3{
    color: rgb(5, 212, 223);
}
.l-4{
    color: rgb(93, 88, 239);
}

/* first section  */
.first{
    padding: 100px 200px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
}
.first-container{
    text-align: left;
}
.first-title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0%;
    
}
#span1{
    color: rgb(254, 163, 1);
}
#span2{
    color: rgb(1, 172, 253);
}
.first-description{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    margin: 30px 0;
}
.first-img img{
    width: 100%;
    position: relative;
    right: 75px;
    transform: scale(1.5);
}
#btn2{
    background-color: black;
}
#btn2:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
}

/* second section  */
.second{
    padding: 100px 200px;
    text-align: center;
    background-image: url("/assets/bg.png");
}
.second-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 80px;
}
.second-cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 380px;
    height: 500px;
    border-radius: 20px;
    padding: 55px 40px;
}
.blue{
    border: 0.94px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.orange{
    border: 0.94px solid rgb(255, 244, 220);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.purple{
    border: 0.94px solid rgb(242, 232, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-title{
    margin: 35px 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
}
.card-description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.3px;
    letter-spacing: 0%;
}
.card-btn{
    border: none;
    background: none;
    margin-top: 50px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.blue .card-btn{
    color: rgb(100, 200, 255);
}
.orange .card-btn{
    color: rgb(240, 170, 0);
}
.purple .card-btn{
    color: rgb(135, 0, 255);
}
.second .btn-logo{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    margin-top: 100px;
    color: white;
    background-color: orange;
    cursor: pointer;
}
/* third section  */
.third{
    background-image: url("/assets/bg.png"), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
    padding: 100px 200px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.third-title{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    margin-bottom: 50px;
}
.main-container{
    display: flex;
    gap: 50px;
}
.third-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 50px;
}
.third-main{
    width: 750px;
    height: 750px;
    background-color: white;
    border-radius: 16px;
}
.third-main .third-subtitle{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 38.35px;
    letter-spacing: 0%;
    padding: 40px;
}
.third-main .third-description{
    padding: 40px;
    font-weight: 500;
}
.third-card{
    border-radius:16px;
    width: 300px;
    height: 345px;
    background-color: white;
}
.third-card .third-subtitle{
    font-weight: 700;
    padding: 40px;
}
.third button{
    width: 180px;
    height: 50px;
    position: relative;
    left: 30px;
    bottom: 25px;
    border: none;
    border-radius: 48px;
    color: rgb(255, 255, 255);
    font-family: "Raleway", "serif";
    cursor: pointer;
}
.third .blue-white{
    background-color: rgb(60, 216, 232);
}
.third .green{
    background-color: rgb(149, 178, 38);
}
#btn3{
    position: relative;
    top: 50px;
    border-radius: 12px;
    background-color: black;
}
#btn3:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
}

/* for mobile device */
@media screen and (max-width: 576px) {
    .hide{
        display: none;
    }
    header{
        padding: 10px 20px;
        justify-content: space-between;
        border-bottom: 0.5px solid rgb(254, 163, 1)
    }
    .bar{
        display: block;
        border: none;
        background-color: white;
        cursor: pointer;
        transform: scale(2);
    }
    .first{
        padding: 10px 20px;
        flex-direction: column-reverse;
        gap: 50px;
    }
    .first-container{
        text-align: center;
    }
    .first-img{
        margin: 0;
        width: 500px;
        position: relative;
        top: 50px;
        left: 50px;
        transform: scale(0.60);
    }
    .second{
        padding: 10px;
        margin-top: 100px;
    }
    .second-cards{
        flex-direction: column;
        gap: 15px;
    }
    .third{
        padding: 5px 5px 60px 5px;
    }
    .third-container{
        gap: 10px;
    }
    .third-card{
        width: 230px;
        height: 325px;
    }
    .third-card .third-subtitle{
        padding: 20px;
    }
}